<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Product</title>
  <style>
    body {
          font-family: 'Oxanium', cursive;
          background: #e6e6ea;
      }
      .heading {
          background: #1d1b1b;
          height: 120px;
          width: 100%;
          position: relative;
      }
      h1 {
          text-align: center;
          color: white;
          padding-top: 35px;
          font-size: 56px;
          text-shadow: 6px 2px 3px #aaaaaaba;;
      }
      h3 {
          margin-top: 35px;
          margin-bottom: 15px;
          color: #dc3444;
          font-size: 45px;
          font-weight: bold;
      }
    .bodySpaceToUse {
      max-width: 530px;
      height: auto;
    }
    form {
      width: 95%;
      height: auto;
    }
    .indexButton {
      position: absolute;
      top: 40px;
      left: 75px;
      box-shadow: 5px 5px 6px #8e8e8ec4;
    }
    h3 {
      margin-top: 35px;
      margin-bottom: 15px;
      color: #dc3444;
      font-size: 40px;
    }
    .instructions {
      margin-top: 45px;
      margin-bottom: 35px;
    }
    label {
      color: #1d1b1b;
      font-size: 24px;
    }
    #submitProduct {
      margin-top: 40px;
      margin-bottom: 220px;
      box-shadow: 5px 5px 6px #8e8e8ec4;
    }
    .productToEditImage {
      border-radius: 10px;
    }
    .form-group {
      margin-top: 30px;
    }
  </style>
</head>
<body>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <h1 class="uk-heading-medium">The Beverage Stop</h1>
            <div class="indexButton"><a type="button" class="btn btn-danger btn-lg" href="/products">Back To Home Page</a></div>
        </div>
    <div class="container">
        <h3 class="instructions">Edit Product</h3>
        <div class="bodySpaceToUse">
            <img class="productToEditImage" src="<%= product.img %>" alt="<%=product.name%>">
            <form class="edit" action="/products/<%=product.id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="productName">Product Name:</label>
                    <input type="text" class="form-control" name="name" value="<%=product.name%>">
                </div>
                <div class="form-group">
                    <label for="productImage">Product Image:</label>
                    <input type="text" class="form-control" name="img" value="<%=product.img%>">
                </div>
                <div class="form-group">
                    <label for="productDescription">Description:</label>
                    <input type="textarea" class="form-control" name="description" value="<%=product.description%>">
                </div>
                <div class="form-group">
                    <label for="productPrice">Price:</label>
                    <input type="number" class="form-control" name="price" value="<%=product.price || 0%>" min="0" step=".01">
                </div>
                <div class="form-group">
                    <label for="productQuantity">Stock Quantity:</label>
                    <input type="number" class="form-control" name="qty" value="<%=product.qty || 0%>" min="0">
                </div>
                <input class="btn btn-warning btn-lg" id="submitProduct" type="submit" name="" value="Submit Product Changes">
            </form>
        </div>
    </div>
  </div>
</body>
</html>