<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>View Product</title>
  <Style>
  body {
          font-family: 'Oxanium', cursive;
          background: #e6e6ea;
      }
      .heading {
          background: #1d1b1b;
          height: 120px;
          width: 100%;
          position: relative;
      }
      h1 {
          text-align: center;
          color: white;
          padding-top: 35px;
          font-size: 56px;
          text-shadow: 6px 2px 3px #aaaaaaba;;
      }
      h3 {
          margin-top: 35px;
          margin-bottom: 15px;
          color: #dc3444;
          font-size: 45px;
          font-weight: bold;
      }
      .productItem .img-fluid {
          width: auto;
          height: 240px;
          border-radius: 3px;
          margin-bottom: 11px;
      }
      .container {
          margin-top: 5px;
          margin-left: 150px;
          margin-right: 150px;
          max-width: 80%;
      }
    .productItemSelected {
      display: inline-block;
      width: 730px;
      height: auto;
      margin: 20px 30px 100px 30px;
      border-width: 6px; 
      border-style: double;
      border-color: rgba(240, 0, 0, 0.797);
      border-radius: 20px;
      background: white;
      box-shadow: 6px 7px 6px #c7c7c7eb;
      
    }
    .category {
      font-size: 24px;
      margin-bottom: 10px;
    }
    .itemImage {
      width: auto;
      height: 300px;
      border-radius: 3px;
      margin-bottom: 11px;
    }
    .indexButton {
      position: fixed;
      top: 40px;
      left: 75px;
      box-shadow: 5px 5px 6px #505050c4;
    }
    h4 {
      font-size: 36px;
      margin-top: 40px;
    }
    .category {
      font-size: 32px;
    }
    .description {
      margin-left: 30px;
      margin-right: 30px;
      font-size: 20px;
    }
    .itemName {
      padding-left: 30px;
      padding-right: 30px;
    }
    .buyButton {
      width: 70%;
      margin-top: 30px;
      margin-bottom: 30px;
      box-shadow: 5px 5px 6px #505050c4;
    }
    .edit {
      width: 30%;
      display: inline-block;
      box-shadow: 5px 5px 6px #505050c4;
      margin-right: 30px;
      margin-bottom: 60px;
    }
    .delete {
      width: 30%;
      display: inline-block;
      box-shadow: 5px 5px 6px #505050c4;
      margin-left: 30px;
      margin-bottom: 60px;
    }
  </Style>  
</head>
<body>
  <div class="col-xs-1" align="center">
    <div class="heading">
        <h1 class="uk-heading-medium">The Beverage Stop</h1>
        <div class="indexButton"><a type="button" class="btn btn-danger btn-lg" href="/products">Back to Home Page</a></div>
    </div>
    <div class="container">
            <h4>Product Selected:</h4>
            <div class="productItemSelected">
                <h3 class="itemName"><%= product.name %></h3>
                <img class="itemImage"src="<%= product.img %>" class="img-fluid" alt="<%= product.name %>">
                <h4 class="category">Description:</h4>
                <p class="description"><%=product.description %></p>
                <h4 class="category">Price:</h4>
                <p class="description">$<%=product.price %></p>
                <h4 class="category">Stock Quantity:</h4>
                <% if (product.qty <= 0) { %>
                    <p class="noStock">Out Of Stock</p>
                    <% } else { %>  
                    <p class="description"><%=product.qty %></p>
                    <form class="buyButton" action="/products/<%=product.id%>/buy?_method=PUT" method="POST">
                        <input type="submit" type="button" class="btn btn-success btn-lg btn-block" value="Buy">
                    </form>
                    <% } %>
                <div class="edit"><a type="button" class="btn btn-outline-info btn-lg btn-block" btn-lg btn-block" href="/products/<%=product.id%>/edit">Edit</a></div>             
                <form class="delete" action="/products/<%=product.id%>?_method=DELETE" method="POST">
                    <div class="deleteButton"><input type="submit" type="button" class="btn btn-outline-danger btn-lg btn-block" value="Delete"></div>
                  </form>             
            </div>
        </div>  
    </div>
</body>
</html>