<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Edit Pokemon</title>  
</head>
<body>
  <h1>Pokedex</h1>
  <h2>The Ultimate Pokemon Website!</h2>
  <h3>Edit Your Pokemon</h3>
  <form action="/pokemon/<%=index%>?_method=PUT" method="POST">
    Name: <input type="text" name="name" placeholder="<%=Pokemon.name%>" /><br />
    Image: <input type="text" name="img" placeholder="<%=Pokemon.img%>" /><br />
    <h3>Type:</h3><br />
    <input type="text" name="type" placeholder="<%=Pokemon.type%>" /><br />
    <h3>Stats:</h3><br />
    HP: <input type="text" name="hp" placeholder="<%=Pokemon.hp%>" /><br />
    Attack: <input type="text" name="attack" placeholder="<%=Pokemon.attack%>" /><br />
    Defense: <input type="text" name="defense" placeholder="<%=Pokemon.defense%>" /><br />
    <input type="submit" name="" value="Edit Pokemon" />
  </form>
</body>
</html>